.App {
  text-align: left;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2%;
}

.App-body {
  background-color: #282c34;
  font-size: 20px;
  color: white;
  padding: 1%;
  margin-left: 2%;
  margin-right: 1%;
  width: 100%;
}
