.caption{
    width: 50%;
    display: inline-block;
    color: white;

}
.trs{
   color: white;
}

.formEnviar{
    display: inline-block;
    align-self: center;
}

.inputs{
    text-indent: 0px;
    -webkit-rtl-ordering: logical;

}

.btn{
    margin-right: 5px;
}